.vscode/**
.vscode-test/**
src/**
test-output/**
.gitignore
.git/**
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.editorconfig
*.vsix
**/.eslintrc.*
**/test/**
**/tests/**
**/examples/**
